# Log Files and Debugging

LOG/**
DEBUGGING/**

# PyCharm
.idea
__pycache__

# bash tools

syncfromunity.txt
synctounity.txt

# hidden files

**/.*
.*
**/.DS_Store
.DS_Store


# <name>/ = Directory
# *.log = all log files
# **/<name> = dir or file in any subfolder
# <name>/** = everything inside dir
